@page
@model IndexModel
@{
    ViewData["Title"] = "Relatório";
}

<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">DropDownBox with embedded TreeView</div>
        <div class="dx-field-value"></div>
    </div>
</div>